body {
    text-align: center;
    background-image: linear-gradient(-225deg, red ,orange ,yellow ,green ,blue ,indigo ,violet);

}


h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}


#game{
    z-index: 0;
}

h1{
    color: #fff;
}

p{
    color: #fff;
}

.line {
    height: 6px;
    background-color: #fff;
    width: 70px;
    margin: 8px auto;
}
nav{
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1;
}
ul li{
    display: inline;
    list-style: none;
    margin-left: 10px;

}

  